<mat-toolbar class="menubar">

    <span Style="color: white">Star Compose</span>
    <span class="spacer"></span>

    <!-- <button mat-raised-button class="constellationButton" (click)="runConductor()" (click)="playSound()">Run</button> -->
    <button mat-raised-button class="constellationButton" (click)="runConductor()">Play</button>
    <!-- <mat-button-toggle class="constellationButton" value="bold" (change)="runConductor()"> -->
        <!-- <mat-icon style="transform: scale(0.5)" aria-hidden="false" aria-label="view constellations">star</mat-icon> -->
    <!-- </mat-button-toggle> -->

    <!-- <button mat-raised-button class="constellationButton" (click)="toggleNavbar()">
        <mat-icon>auto_awesome</mat-icon>
    </button> -->
<span class="spacer"></span>
<mat-button-toggle class="starButton" (click)="toggleNavbar()"><mat-icon>auto_awesome</mat-icon></mat-button-toggle>

</mat-toolbar>

<div class="constellationList" *ngIf="navbarOpened">

    <mat-card *ngFor="let i of locationConstellations" (click)="onSelectedConstellation(i)">
        <mat-card-content>
            <mat-icon class="currentConstellations">stars</mat-icon>
            <span class="currConstellationText">{{i.name}}</span>
        </mat-card-content>
    </mat-card>

    <mat-card *ngFor="let i of constellations" (click)="onSelectedConstellation(i)">
        <mat-card-content>
            {{i.name}}
        </mat-card-content>
    </mat-card>

</div>